.container {
    padding: 
    80px var(--side-paddings)
    80px var(--side-paddings);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
}
.info-cards {
    display: flex;
    gap: 20px;

    border-left: solid 1px var(--black);
    border-right: solid 1px var(--black);
}